################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo/.vs/Demo
/Demo/bin/Debug/net5.0
/Demo/obj
/piral~/Demo/dist
